<div class="flex-display-package">
	<div class="box1 col-md-6">
		<h2 class="header_two">Event Details</h2>
		<form action="/kts-admin/SaveEvent/<%= event._id.toString() %>" method="post">
			<% if(event.title){ %>
				<input class="form-control margin-element" type="text" placeholder="Title" name="title"
					value="<%= event.title %> ">
				<% } else{ %>
					<input class="form-control margin-element" type="text" placeholder="Title" name="title">
					<% }%>
						<% if(event.description){ %>
							<textarea type="text" class="form-control margin-element" placeholder="Description" rows="5"
								cols="50" name="description"><%= event.description %> </textarea>
							<% } else{ %>
								<textarea class="form-control margin-element" type="text" placeholder="Description"
									rows="5" cols="50" name="description"></textarea>
								<%} %>

									<button class="button" style="width: 100%;">Save</button>
		</form>
		<div class="display-flex-column col-md-12">
			<a href="/kts-admin/home" class="button">Back To Home</a>
			<form action="/kts-admin/event/<%= event._id.toString() %>/package" method="get">
				<button id="addEvent" class="button" style="width: 100%;">Add Packages</button>
			</form>
		</div>
	</div>

	<div class="col-md-6 packageContainer">
		<h2 class="header_two">Added Packages</h2>
		<div class="flex-display-package">
			<% if(Packages.packages.length> 0) { %>
				<% let counter=0 %>
					<% for(let i=0; i < Packages.packages.length; i++){ %>
						<div class="card" style="width: 18rem;">
							<img src="<%=Packages.packages[i].image_url%>" class="card-img-top">
							<div class="card-body">
								<h5 class="card-title">
									<%=Packages.packages[i].title %>
								</h5>
								<p class="card-text">
									<%=Packages.packages[i].description %>
								</p>
								<a href="/kts-admin/<%= event._id.toString() %>/package/<%=Packages.packages[i]._id.toString() %>"
									class="btn btn-primary">Edit Package</a>
							</div>
						</div>
						<% counter++ } %>
							<% } %>
		</div>

	</div>


</div>


<form action="/kts-admin/delete/event/<%= event._id.toString() %>?_method=DELETE" method="post">
	<button class="btn btn-danger">Delete Event</button>
</form>