<div class="container homepage-container">

	<div class="row">
		<div class="col-md-12 col-sm-12">
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Event Owner</th>
						<th scope="col">Event Name</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<% for(let i=0; i < events.length ; i++){ %>

						<tr>
							<th scope="row">
								<%= i+1 %>
							</th>
							<td>
								<%= events[i].owner %>
							</td>
							<td>
								<%= events[i].title %>
							</td>
							<td>
								<a style="display: inline-block;"
									href="/kts-admin/event/<%= events[i]._id.toString() %>"
									class="btn border-shadow update">
									<span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
								</a>
								<form style="display: inline-block;"
									action="/kts-admin/delete/event/<%= events[i]._id.toString() %>?_method=DELETE"
									method="post">
									<button class="btn border-shadow delete"><span class="text-gradient"><i
												class="fas fa-times"></i></span></button>
								</form>
							</td>

						</tr>
						<% } %>

				</tbody>
			</table>
		</div>
	</div>

	<div class="row" style="margin-top: 3em;">
		<div class="col-sm-6 col-md-6">
			<a href="/kts-admin/new-event" class="btn btn-primary">Create New
				Event</a>
		</div>
	</div>

</div>